body{
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth !important;
}


.sectionHeader{
    font-size: 4em;
    color: #fff;
    font-weight: 800;
    text-align: center;
}

.s1 p{
    text-align: center;
    font-size: 2em;
    color: #fff;
    font-weight: 800;
}

/* Background Color / Image */
.s1{
    background-color: #2A4B7C;
}

.s2{
    background-color: #FF6F61; 
}

.s3{
    background-color: #009B77;
}

.s4{
    background-color: #5B5EA6;
}

.s5{
    background-color: #EFC050;
}

/* Nav Bar */
#fullpage{
    position: relative;
}

.navLinks{
    display: flex;
    justify-content: space-between;
    width: 30%;
    position: fixed;
    top: 2%;
    right: 3%;
    z-index: 70;
    font-size: 1.1em;
    list-style: none;
}

.navLinks a{
    text-decoration: none;
    color: #fff;
    border-bottom: 1px solid transparent;
    transition: .3s;
}

.navLinks a:hover{
    border-bottom: 2px solid #fff;
    padding-bottom: 3px;
}

/* About Me */
.aboutMe{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.aboutMe img{
    height: 20em;
    width: 20em;
    border-radius: 50%;
}

.aboutDesc{
    font-size: 1.4em;
    color: #fff;
    font-weight: 500;
    width: 40%;
}

/* Services */
.servicesContainer{
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin: 0 auto;
}


.descriptionContainer{
    width: 60%;
}

.descriptionContainer p{
    font-size: 1.2em;
    color: #fff;
}

.servicesTitle{
    font-size: 2em;
    color: #fff;
}

.servicesList li{
    padding: .6em 0px;
    font-size: 1.1em;
    color: #fff;
}

.divider{
    padding: 0px 10px;
}


/* Testimonials */
.testContainer{
    width: 70%; 
    margin: 3em auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.message p{
    width: 80%;
    color: #fff;
    font-size: 1.2em;
    margin: 0 auto;
    font-style: italic;
}

#author{
    font-size: 1.3em;
    color: black;
    font-weight: 600;
    padding-top: 10px;
}

.testContainer img{
    height: 17em;
    width: 17em;
}

/* Contact Me */
form{
  width: 70%;
  max-width: 600px;
  padding: 20px;
  margin: 50px auto; /*Auto is whats making it centered */
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0,0,0,.5)
}

label{
  display: block; /*block breaks up the elements */
  padding: 15px 0px;
}

input, textarea{  /*change the size of the input areas and textarea */
  width: 96%;
  padding: 10px;
  border: 1px solid transparent;
  background-color: #ececec;
  outline: none;
  transition: all 0.5s;
}

input:focus, textarea:focus{
  border: 2px solid #CD853F;
  background-color: #fff;
}

button{
  padding: 15px 15px;
  margin: 20px 0px;
  border: none;
  background-color:  #EFC050;
  color: #fff;
  cursor: pointer;
  transition: background-color .5s;
  text-transform: uppercase;
}

button:hover{
  background-color: #3AC7F2;
  cursor: pointer;
  font-weight: 600;
}

textarea{
  min-height: 100px;
  max-height: 300px;
  resize: vertical;
}

form label{
  display: block;
}

@media screen and (max-width: 1350px){
    /* Services */
    .servicesContainer{
    display: flex;
    justify-content: space-around;
    width: 75%;
    margin: 0 auto;
    }

    /* Testimonials */
    .testContainer img{
        height: 14em;
        width: 14em;
    }

    .message p{
        width: 70%;
        color: #fff;
        font-size: 1.1em;
        margin: 0 auto;
        font-style: italic;
    }
}

@media screen and (max-width: 1024px){
    /* Nav Bar */
    .navLinks{
        font-size: 1em;
        width: 35%;
    }
    .aboutMe{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 90%;
        margin: 0 auto;
    }

    .aboutDesc{
        font-size: 1.2em;
        color: #fff;
        font-weight: 500;
        width: 40%;
    }
     /* Services */
    .servicesContainer{
        display: flex;
        justify-content: space-around;
        width: 85%;
        margin: 0 auto;
        }

    .servicesTitle{
        font-size: 1.6em;
        color: #fff;
    }

    .descriptionContainer p{
        font-size: 1em;
    }

    .servicesList li{
        padding: .6em 0px;
        font-size: 1em;
    }

    /* Testimonials */
    .testContainer img{
        height: 11em;
        width: 11em;
    }

    .message p{
        width: 80%;
        color: #fff;
        font-size: 1.1em;
        margin: 0 auto;
        font-style: italic;
    }
}

@media screen and (max-width: 768px){
    .sectionHeader{
        font-size: 3em;
        color: #fff;
        font-weight: 800;
        text-align: center;
    }
    
    .s1 p{
        text-align: center;
        font-size: 1.4em;
        color: #fff;
        font-weight: 800;
    }
    
    /* Nav */
    .navLinks{
        font-size: .9em;
        width: 45%;
    }

    /* About Me */
    .aboutMe{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 95%;
        margin: 0 auto;
    }

    .aboutMe img{
        height: 17em;
        width: 17em;
    }

    .aboutDesc{
        font-size: 1.1em;
        color: #fff;
        font-weight: 500;
        width: 50%;
    }

    /* Services */
    .servicesContainer{
        display: flex;
        justify-content: space-around;
        width: 80%;
        margin: 0 auto;
    }


    .descriptionContainer{
        width: 60%;
    }

    .descriptionContainer p{
        font-size: .9em;
    }

    .servicesTitle{
        font-size: 1.3em;
        color: #fff;
    }

    .servicesList li{
        padding: .6em 0px;
        font-size: .9em;
    }

    .divider{
        padding: 0px 5px;
    }

    /* Testimonials */
    .testContainer{
        width: 80%; 

    }
    .testContainer img{
        height: 10em;
        width: 10em;
    }

    .message p{
        width: 90%;
        color: #fff;
        font-size: .9em;
        margin: 0 auto;
        font-style: italic;
    }
    
    #author{
        font-size: 1em;
    }
}

@media screen and (max-width: 425px){
     /* Nav */
     .navLinks{
        font-size: .7em;
        width: 50%;
    }

    /* Section Headers */
    .sectionHeader{
        font-size: 2em;
        color: #fff;
        font-weight: 800;
        text-align: center;
    }
    
    .s1 p{
        text-align: center;
        font-size: 1em;
        color: #fff;
        font-weight: 800;
    }

    /* About Me */
    .aboutMe{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 80%;
        margin: 0 auto;
    }

    .aboutMe img{
        height: 13em;
        width: 13em;
    }

    .aboutDesc{
        font-size: .9em;
        color: #fff;
        font-weight: 500;
        width: 80%;
        text-align: center;
    }

    /* Services */
    .servicesContainer{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 70%;
        margin: 0 auto;
    }


    .descriptionContainer{
        width: 100%;
        margin: 0 auto;
    }

    .descriptionContainer p{
        font-size: .8em;
    }

    .rates{
        width: 80% !important;
        margin: 0 auto;
    }

    .servicesTitle{
        font-size: 1.2em;
        color: #fff;
    }

    .servicesList li{
        padding: .6em 0px;
        font-size: .9em;
    }

    .divider{
        padding: 0px 5px;
    }
    /* Testimonials */
    .testContainer{
        width: 80%; 
        margin: 2em auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .message p{
        width: 60%;
        color: #fff;
        font-size: .7em;
        margin: 0 auto;
        font-style: italic;
        text-align: center;
    }

    #author{
        font-size: .9em;
        color: black;
        font-weight: 600;
        padding-top: 5px;
    }

    .testContainer img{
        height: 7em;
        width: 7em;
    }

    /* Contact Me */
    form{
        width: 60%;
        max-width: 600px;
        padding: 20px;
        margin: 50px auto; /*Auto is whats making it centered */
        background-color: white;
        box-shadow: 0px 0px 10px rgba(0,0,0,.5)
    }

    input, textarea{  /*change the size of the input areas and textarea */
        width: 90%;
        padding: 10px;
        border: 1px solid transparent;
        background-color: #ececec;
        outline: none;
        transition: all 0.5s;
      }

      button{
        padding: 10px 10px;
        
      }
}

@media screen and (max-width: 375px){
     /* Section Headers */
     .sectionHeader{
        font-size: 1.5em;
        color: #fff;
        font-weight: 800;
        text-align: center;
    }

    .navLinks{
        width: 65%;
        font-size: .7em;
    }
}
